@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

$lg_min_width: 1200px;

$off_white: white;
$gray_dk: #333333;
$brown_btn: #2A221E;
$brown_btn_hover: #3E2C21;
$swiss_coffee: #D8D2CF;


html {
  box-sizing: border-box;
  list-style-type: none;
  background-color: $off_white;

  font-family: 'Source Sans Pro', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}
/*----------------------Header----------------------*/
.header_home {
	@include fill-parent;
	text-align: center;
	margin: 1em 0;
    font-size: 2em;
	color: $gray_dk;
}
.header_routes {
	@include fill-parent;
	text-align: center;
	color: $gray_dk;
	margin: 1em 0 0.2em 0;
    font-size: 1.2em;
}

/*----------------------route Section----------------------*/
.routeCont {
	
}
/*----------------------Home----------------------*/
.intro {
	@include fill-parent;
	font-size: 1em;
	text-align: center;
	padding: 0.5em 1em;
}
.btnCont {
	@include fill-parent;
	text-align: center;
}
.toCountriesBtn {
	font-size: 1em;
	background-color: $brown_btn;
	border: 1px solid $brown_btn;
	color: white;
	border-radius: 0.3em;
	padding: 0.5em 0.7em;

	&:focus {
		outline: 0;
	}
	&:hover {
		background-color: $brown_btn_hover;
		border: 1px solid $brown_btn_hover;
		cursor: pointer;
	}
}
/*----------------------Countries----------------------*/
.homeBtnCont {
	@include fill-parent;
	text-align: center;
	overflow: hidden;
    padding-bottom: 1em;
}
.homeBtn {
	font-size: 0.5em;
	background-color: $brown_btn;
	border: 1px solid $brown_btn;
	color: white;
	border-radius: 0.3em;
	padding: 0.25em 0.5em;

	&:focus {
		outline: 0;
	}
	&:hover {
		background-color: $brown_btn_hover;
		border: 1px solid $brown_btn_hover;
		cursor: pointer;
	}
}
.ctryTable {
	@include fill-parent;
	@include outer-container;
	height: 30em;
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed; 
	overflow-y: auto;

	thead, tr {
		@include fill-parent;
		overflow: hidden;
	}
	td, th {
		overflow: hidden;
		font-size: 0.8em;
		vertical-align: middle;
	}
	thead {
		background-color: $brown_btn;
		color: white;
		overflow: hidden;
	}
}
.even {
	background-color: $swiss_coffee;
}
.country {
	@include span-columns(4);
	
	@media screen and (min-width: $lg_min_width) {
		@include span-columns(3);
	}
}
.code {
	display: none;

	@media screen and (min-width: $lg_min_width) {
		display: initial;
		@include span-columns(1);
	}
} 
.capital {
	@include span-columns(4);

	@media screen and (min-width: $lg_min_width) {
		@include span-columns(2);
	}
}
.area {
	display: none;

	@media screen and (min-width: $lg_min_width) {
		display: initial;
		@include span-columns(2);
	}
}
.population {
	display: none;

	@media screen and (min-width: $lg_min_width) {
		display: initial;
		@include span-columns(2);
	}
} 
.continent {
	@include span-columns(4);

	@media screen and (min-width: $lg_min_width) {
		@include span-columns(2);
	}
}
/*----------------------Country----------------------*/
.ctryCont {
	@include fill-parent;
}
.ctryGraphicsCont {
	@include fill-parent;
	text-align: center;
	padding: 0 0.8em;

	@media screen and (min-width: $lg_min_width) {
		@include span-columns(6);
	}
}
.flag_cont {
	@include fill-parent;
	overflow: hidden;
	height: 8em;
	margin: 0.5em 0;
}
.flag {
	border-radius: 0.2em;
	height: 100%;
}
.map_cont {
	@include fill-parent;
	overflow: hidden;
    height: 8em;
    background-color: white;
    border-radius: 0.3em;
    padding: 0.2em 0;
}
.map {
	border-radius: 0.2em;
	height: 100%;
}
.ctryInfoCont {
	@include fill-parent;

	@media screen and (min-width: $lg_min_width) {
		@include span-columns(6);
	}
}




