@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

$lg_min_width: 1200px;
$md_min_width: 768px;
$md_max_width: 1024px;

$off_white: #ECECEC;
$gray_dk: #192B39;
$gray_lt: #919A9A;
$wheatfield: #F1E8C6;


html {
	box-sizing: border-box;
	list-style-type: none;
	background-color: $gray_dk;
	font-family: 'Source Sans Pro', sans-serif;
}
*, *:before, *:after {
	box-sizing: inherit;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: none;
}
.background {
	background-color: $gray_dk;
	background-size: cover;
	background-repeat: no-repeat;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
	height: 100vh;

	@media screen and (min-width: $md_max_width) {
		background-image: url('../img/background.jpeg');

	}
}
/*----------------------Header---------------------*/
.routeCont {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.animate_view {

	&.ng-enter { 
		transition: 0.2s linear all;
		opacity: 0;
	}
	&.ng-enter.ng-enter-active { 
		opacity: 1;
	}
}
.wrapper {
	overflow: hidden;

	@media screen and (min-width: $md_max_width) {
		@include span-columns(8);
		@include shift(2);
	}
}
/*----------------------Header----------------------*/
.header {
	@include fill-parent;
	overflow: hidden;
	text-align: center;
	color: white;
	margin: 0;
    font-size: 1.2em;
    background-color: $gray_dk;
}
.header_btn_cont {
	@include span-columns(1 of 8);
	text-align: center;
	height: 2em;

	@media screen and (min-width: $md_max_width) {
		height: 3em;
	}
}
.header_right_shift_7 {
	@include shift(7 of 8);
}
.header_right_shift_6 {
	@include shift(6 of 8);
}
.header_white {
	background-color: white;
}
.header_btn {
	@include fill-parent;
	font-size: 0.5em;
	background-color: transparent;
	border: 1px solid transparent;
	color: white;
	padding: 0.25em 0.5em;
	height: 100%;
	
	&:focus {
		outline: 0;
	}
	&:hover {
		cursor: pointer;
		background-color: $gray_lt;
	}

	@media screen and (min-width: $md_min_width) {
		font-size: 0.8em;
	}
}
/*----------------------Home----------------------*/
.title_home {
	@include fill-parent;
	text-align: center;
	margin: 1em 0;
    font-size: 2em;
	color: white;

	@media screen and (min-width: $md_min_width) {
		margin: 5em 0 0 0;
	}
}
.intro {
	@include fill-parent;
	font-size: 1em;
	text-align: center;
	padding: 0.5em 1em;
	color: white;
	a {
		&:link { color: $wheatfield };
		&:visited{ color: white };
		&:hover{ color: $off_white };
		&:active{ color: white };
	}
	@media screen and (min-width: $md_min_width) {
		padding: 2em 8em;
    	font-size: 1.1em;
	}
}
.btnCont {
	@include fill-parent;
	text-align: center;
}
.toCountriesBtn {
	font-size: 1em;
	background-color: white;
	border: 1px solid white;
	color: $gray_dk;
	border-radius: 0.3em;
	padding: 0.5em 0.7em;

	&:focus {
		outline: 0;
	}
	&:hover {
		background-color: $off_white;
		border: 1px solid $off_white;
		cursor: pointer;
	}
}
/*----------------------Countries----------------------*/
.fixed {
	position: fixed;
    z-index: 9999;
    top: 0;
}
.fixed_table {
	position: fixed;
    z-index: 9999;
    top: 2.4em;

    @media screen and (min-width: $md_max_width) {
    	top: 3.6em;
    }
}
.ctryTable {
	@include fill-parent;
	background-color: white;
	height: 30em;
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed; 
	overflow-y: auto;

	thead, tr {
		@include fill-parent;
		overflow: hidden;
	}
	td, th {
		overflow: hidden;
		text-align: center;
    	vertical-align: middle;
    	position: relative;
    	p {
    		display: inline-block;
    		vertical-align: middle;
    		font-size: 0.8em;
    		margin: 0.2em 0;
    		@media screen and (min-width: $md_min_width) {
				font-size: 1em;
			}
    	}
	}
	thead {
		background-color: white;
		border-bottom: 2px solid $gray_dk;
		color: $gray_dk;
		overflow: hidden;
	}
	td:hover {
		cursor: pointer;
	}
}
.table_2 {
	margin-top: 3.9em;

	@media screen and (min-width: $md_min_width) {
		margin-top: 4.2em;
		opacity: 0.9;
	}

	@media screen and (min-width: $md_max_width) {
		margin-top: 5.2em;
	}
}
.odd {
	background-color: $gray_lt;
}
tbody tr {
	&:hover {
		background-color: transparentize($gray_dk, 0.1);
		color: white;
	}
}
.country {
	@include span-columns(4);
	
	@media screen and (min-width: $lg_min_width) {
		@include span-columns(3);
	}
}
.code {
	display: none;

	@media screen and (min-width: $lg_min_width) {
		display: initial;
		@include span-columns(1);
	}
} 
.capital {
	@include span-columns(4);

	@media screen and (min-width: $lg_min_width) {
		@include span-columns(2);
	}
}
.area {
	display: none;

	@media screen and (min-width: $lg_min_width) {
		display: initial;
		@include span-columns(2);
	}
}
.population {
	display: none;

	@media screen and (min-width: $lg_min_width) {
		display: initial;
		@include span-columns(2);
	}
} 
.continent {
	@include span-columns(4);

	@media screen and (min-width: $lg_min_width) {
		@include span-columns(2);
	}
}
/*----------------------Country----------------------*/
.ctryCont {
	@include fill-parent;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	height: 100%;

	&::before {
		content: ' ';

		@media screen and (min-width: $md_max_width) {
			background-color: white;
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			opacity: 0.2;
			z-index: -1;
		}
	}
}
.ctryGraphicsCont {
	@include fill-parent;
	background-color: white;
	border-top: 1px solid $gray_dk;
	text-align: center;
	padding: 0.1em;

	@media screen and (min-width: $md_max_width) {
		@include span-columns(6);
		margin-top: 6em;
    	opacity: 0.8;
	}
}
.flag_cont {
	@include fill-parent;
	overflow: hidden;
	height: 8em;
	margin: 0.5em 0;

	@media screen and (min-width: $md_max_width) {
		height: 13em;
	}
}
.flag {
	height: 100%;
}
.map_cont {
	@include fill-parent;
	overflow: hidden;
    height: 8em;
    margin: 0.5em 0;

    @media screen and (min-width: $md_min_width) {
    	height: 13em;
    }
}
.map {
	border-radius: 0.2em;
	height: 100%;
}
.ctryInfoCont {
	@include fill-parent;
	overflow: hidden;
	color: white;

	@media screen and (min-width: $md_max_width) {
		@include span-columns(6);
		margin-top: 6em;
	}
}
.country_title {
	text-align: center;
	margin: 0.2em 0;
	font-size: 1.2em;

	@media screen and (min-width: $md_min_width) {
		font-size: 1.5em;
	}
}
.line_container {
	@include fill-parent;
	overflow: hidden;
	margin: 0.2em 0;
}
.left {
	@include span-columns(6 of 12);
	text-align: right;
	overflow: hidden;
	margin: 0;
	font-size: 1em;

	@media screen and (min-width: $md_min_width) {
		font-size: 1.5em;
	}
}
.right {
	@include span-columns(6 of 12);
	overflow: hidden;
	margin: 0;
	padding-left: 0.5em;
	font-size: 1em;

	@media screen and (min-width: $md_min_width) {
		font-size: 1.5em;
	}
}
#neighbors-list {
	list-style-type: none;
	margin: 0.1em 0;
    padding: 0;
	
	li {
		font-size: 0.8em;
	}

    li a:link, li a:visited {
    	color: $gray_lt;

    	@media screen and (min-width: $md_max_width) {
    		color: $gray_dk;
    	}
    }

    li a:hover, li a:active {
    	color: transparentize($gray_lt, 0.3);

    	@media screen and (min-width: $md_max_width) {
    		color: transparentize($gray_lt, 0.3);
    	}
    }
}



