@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  list-style-type: none;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

a:link, a:visited {
  text-decoration: none; }

a:hover, a:active {
  text-decoration: none; }

/*----------------------Header----------------------*/
.header_home {
  width: 100%;
  text-align: center;
  margin: 1em 0;
  font-size: 2em;
  color: #333333; }

.header_routes {
  width: 100%;
  text-align: center;
  color: #333333;
  margin: 1em 0 0.2em 0;
  font-size: 1.2em; }

/*----------------------route Section----------------------*/
/*----------------------Home----------------------*/
.intro {
  width: 100%;
  font-size: 1em;
  text-align: center;
  padding: 0.5em 1em; }

.btnCont {
  width: 100%;
  text-align: center; }

.toCountriesBtn {
  font-size: 1em;
  background-color: #2A221E;
  border: 1px solid #2A221E;
  color: white;
  border-radius: 0.3em;
  padding: 0.5em 0.7em; }
  .toCountriesBtn:focus {
    outline: 0; }
  .toCountriesBtn:hover {
    background-color: #3E2C21;
    border: 1px solid #3E2C21;
    cursor: pointer; }

/*----------------------Countries----------------------*/
.homeBtnCont {
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding-bottom: 1em; }

.homeBtn {
  font-size: 0.5em;
  background-color: #2A221E;
  border: 1px solid #2A221E;
  color: white;
  border-radius: 0.3em;
  padding: 0.25em 0.5em; }
  .homeBtn:focus {
    outline: 0; }
  .homeBtn:hover {
    background-color: #3E2C21;
    border: 1px solid #3E2C21;
    cursor: pointer; }

.ctryTable {
  width: 100%;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  height: 30em;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
  overflow-y: auto; }
  .ctryTable::after {
    clear: both;
    content: "";
    display: table; }
  .ctryTable thead, .ctryTable tr {
    width: 100%;
    overflow: hidden; }
  .ctryTable td, .ctryTable th {
    overflow: hidden;
    font-size: 0.8em;
    vertical-align: middle; }
  .ctryTable thead {
    background-color: #2A221E;
    color: white;
    overflow: hidden; }

.even {
  background-color: #D8D2CF; }

.country {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .country:last-child {
    margin-right: 0; }
  @media screen and (min-width: 1200px) {
    .country {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .country:last-child {
        margin-right: 0; } }

.code {
  display: none; }
  @media screen and (min-width: 1200px) {
    .code {
      display: initial;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 6.17215%; }
      .code:last-child {
        margin-right: 0; } }

.capital {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .capital:last-child {
    margin-right: 0; }
  @media screen and (min-width: 1200px) {
    .capital {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .capital:last-child {
        margin-right: 0; } }

.area {
  display: none; }
  @media screen and (min-width: 1200px) {
    .area {
      display: initial;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .area:last-child {
        margin-right: 0; } }

.population {
  display: none; }
  @media screen and (min-width: 1200px) {
    .population {
      display: initial;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .population:last-child {
        margin-right: 0; } }

.continent {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .continent:last-child {
    margin-right: 0; }
  @media screen and (min-width: 1200px) {
    .continent {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .continent:last-child {
        margin-right: 0; } }

/*----------------------Country----------------------*/
.ctryCont {
  width: 100%; }

.ctryGraphicsCont {
  width: 100%;
  text-align: center;
  padding: 0 0.8em; }
  @media screen and (min-width: 1200px) {
    .ctryGraphicsCont {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .ctryGraphicsCont:last-child {
        margin-right: 0; } }

.flag_cont {
  width: 100%;
  overflow: hidden;
  height: 8em;
  margin: 0.5em 0; }

.flag {
  border-radius: 0.2em;
  height: 100%; }

.map_cont {
  width: 100%;
  overflow: hidden;
  height: 8em;
  background-color: white;
  border-radius: 0.3em;
  padding: 0.2em 0; }

.map {
  border-radius: 0.2em;
  height: 100%; }

.ctryInfoCont {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    .ctryInfoCont {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .ctryInfoCont:last-child {
        margin-right: 0; } }
