<div class='ctryCont'>
	<div class="ctryInfoCont">
		<h2 class="ctryName">{{}}</h2>
		<h3>Population of Country: {{}}</h3>
		<h3>Area: {{}}</h3>
		<h3>Capital: {{}}</h3>
		<h3>Population of Capital: {{}}</h3>
		<h3>Neighbors({{}})</h3>
		<div class="ctryBtnCont">
			<button>Home</button>
			<button>Back</button>
		</div>
	</div>
	<div class="ctryGraphicsCont">
		<div class="ctryImgCont">
			<img src="../img/flag.png">
		</div>
		<div class="ctryFlagCont">
			<img src="../img/flag.png">
		</div>
	</div>
</div>

