<div class="homeBtnCont">
	<button class="homeBtn" ng-click="toHome()">Home</button>
</div>
<table class="ctryTable">
	<tr class="tblHeadings">
		<th class="nameCol">Name</th>
		<th class="countryCol">Country Code</th>
		<th class="capitalCol">Capital</th>
		<th class="areaCol">Area in Sq. Km</th>
		<th class="popCol">Population</th>
		<th class="continentCol">Continent</th>
	</tr>
	<tr ng-repeat="ctry in ctryList">
		<td ng-click="toCountry(ctry.countryName, ctry.capital, ctry.geonameId, ctry.population, ctry.areaInSqKm)">{{ctry.countryName}}</td>
        <td>{{ctry.countryCode}}</td>
        <td>{{ctry.capital}}</td>
        <td>{{ctry.areaInSqKm}}</td>
        <td>{{ctry.population}}</td>
        <td>{{ctry.continentName}}</td>
	</tr>
</table>