<div class="header fixed">
	<div class="header_btn_cont header_right_shift_10">
		<button class="header_btn" ng-click="toHome()">Home</button>
	</div>
</div>
<div class="fixed_table">
	<div class="wrapper">
		<table class="ctryTable">
			<thead>
				<tr>
					<th class="country"><p>Name</p></th>
					<th class="code"><p>Code</p></th>
					<th class="capital"><p>Capital</p></th>
					<th class="area"><p>Area (km<sup>2</sup>)</p></th>
					<th class="population"><p>Population</p></th>
					<th class="continent"><p>Continent</p></th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<div class="wrapper">
	<table class="ctryTable table_2">
		<tbody>
			<tr ng-repeat="ctry in ctryList" ng-click="toCountry(ctry.countryName, ctry.capital, ctry.geonameId, ctry.population, ctry.areaInSqKm, ctry.countryCode)" ng-class-odd="'odd'">
				<td class="country"><p>{{ctry.countryName}}</p></td>
		        <td class="code"><p>{{ctry.countryCode}}</p></td>
		        <td class="capital"><p>{{ctry.capital}}</p></td>
		        <td class="area"><p>{{ctry.areaInSqKm | number:0 }}</p></td>
		        <td class="population"><p>{{ctry.population | number:0 }}</p></td>
		        <td class="continent"><p>{{ctry.continentName}}</p></td>
			</tr>
		</tbody>
	</table>
</div>