<header class="header">
	<div class="header_btn_cont"></div>
</header>
<div class="wrapper">
	<h1 class="title_home">Countries &#38; Capitals</h1>

	<p class="intro"><strong>Countries and Capitals</strong> explores the world through <i><a href="http://www.geonames.org/">GeoNames.org</a></i> - a geographical database of places around the globe. Browse through the list and choose a country to discover more about its capital city, population, and neighboring countries.</p>
	<div class="btnCont">
		<button class="toCountriesBtn" ng-click="viewCountries()">Get Started!</button>
	</div>
</div>